node-red/flows.json
[
    {
        "id": "a382654b.5f9ce8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f5f65e68.cac2a8",
        "type": "udp in",
        "z": "a382654b.5f9ce8",
        "name": "",
        "iface": "",
        "port": "3000",
        "ipv": "udp4",
        "multicast": "true",
        "group": "255.255.255.255",
        "datatype": "utf8",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "6690511f.b23fc8"
            ]
        ]
    },
    {
        "id": "d98cd3df.3ca52",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "64ea1918.5d7b4",
        "type": "udp out",
        "z": "a382654b.5f9ce8",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "6690511f.b23fc8",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "",
        "func": "\nif(msg.payload && typeof msg.payload == \"string\") {\n    msg.payload = JSON.parse(msg.payload);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "d98cd3df.3ca52",
                "23b0e70c.b3c09"
            ]
        ]
    },
    {
        "id": "23b0e70c.b3c09",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "Form response packet",
        "func": "\n\nmsg.payload.mqtt = {\n    server : \"\",\n    port : \"1883\",\n    username : \"\",\n    password : \"\",\n    sensor : \"raw/unknown\"\n}\n\ndevices = flow.get(\"iot-devices\");\n\nif(devices && msg.payload.deviceid) {\n   for(var d in devices) {\n       var device = devices[d];\n       if(device.deviceid === msg.payload.deviceid) {\n           msg.payload.device = device;\n           if(device.sensor) msg.payload.mqtt.sensor = device.sensor;\n           if(device.relay) msg.payload.mqtt.relay = device.relay;\n           if(device.caps) {\n               msg.payload.mqtt.caps = device.caps;\n           } else {\n               msg.payload.mqtt.caps = \"iot/caps/\" + device.deviceid;\n           }\n       }\n   }\n}\n\nmsg.port = 3001;\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "64ea1918.5d7b4",
                "4ef686d6.0d8fd"
            ]
        ]
    },
    {
        "id": "4ef686d6.0d8fd",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "8e606e42.bcdff8",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "Reset all devices",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "c22eb1fb.b73c"
            ]
        ]
    },
    {
        "id": "c22eb1fb.b73c",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "",
        "func": "\nvar devices = [\n        {\n            deviceid : \"34AD0C\", \n            sensor : \"raw/dev/34AD0C\",  \n            relay : \"iot/relay/34AD0C\",  \n            caps : \"iot/caps/34AD0C\",\n            capabilities : []\n        } \n    ];\n\nflow.set(\"iot-devices\", devices);\n\nmsg.payload = devices;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "648f85a5.eb6684"
            ]
        ]
    },
    {
        "id": "648f85a5.eb6684",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "a5b7a58.a311a58",
        "type": "mqtt out",
        "z": "a382654b.5f9ce8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "20e28edf.311c92",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "d866458c.c4ff08",
        "type": "mqtt in",
        "z": "a382654b.5f9ce8",
        "name": "",
        "topic": "raw/+",
        "qos": "2",
        "datatype": "json",
        "broker": "20e28edf.311c92",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "4c6580f9.85d21"
            ]
        ]
    },
    {
        "id": "a9e2576f.8b98c8",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 430,
        "y": 400,
        "wires": []
    },
    {
        "id": "4c6580f9.85d21",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "",
        "func": "\nmsg.topic = \"iot/\" + msg.topic.split(\"/\")[1];\n\ndevices = flow.get(\"iot-devices\");\n\nif(devices && msg.payload.deviceid) {\n   for(var d in devices) {\n       var device = devices[d];\n       if(device.deviceid === msg.payload.deviceid) {\n           msg.payload.device = device;\n       }\n   }\n}\nif(msg.payload.ts) {\n    msg.payload.timeStamp = new Date(0);\n    msg.payload.timeStamp.setUTCSeconds(msg.payload.ts);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 320,
        "wires": [
            [
                "a9e2576f.8b98c8",
                "a5b7a58.a311a58"
            ]
        ]
    },
    {
        "id": "1a9f2d43.053be3",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "0 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "d5a4ba2d.9d4498",
        "type": "mqtt out",
        "z": "a382654b.5f9ce8",
        "name": "",
        "topic": "iot/relay/34AD0C",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 570,
        "y": 800,
        "wires": []
    },
    {
        "id": "ec720589.49e8f8",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "0 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 540,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "1408a0b4.d066df",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "1 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 600,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "d93ac529.4dbd78",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "1 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 640,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "ac3c556b.d8fbe8",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "2 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 700,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "1005f189.a5fdf6",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "2 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 740,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "8f504da6.7f4fa8",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "3 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":3}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 800,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "c2887c8d.72b55",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "3 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":3}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 840,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "e258dce7.64c2a",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "4 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":4}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 900,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "d88fc371.74a73",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "4 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":4}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 940,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "e47bc999.a272c",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "5 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":5}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 1000,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "1be540a5.b4c6cf",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "5 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":5}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "7fd47219.bfd28c",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "All On",
        "topic": "",
        "payload": "{\"command\":\"allon\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 530,
        "y": 640,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "9174d158.a33768",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "All Off",
        "topic": "",
        "payload": "{\"command\":\"alloff\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 530,
        "y": 680,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "199b6aaa.c239a5",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "Fun",
        "topic": "",
        "payload": "{\"command\":\"fun\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 530,
        "y": 580,
        "wires": [
            [
                "d5a4ba2d.9d4498"
            ]
        ]
    },
    {
        "id": "53077926.e862d",
        "type": "mqtt in",
        "z": "a382654b.5f9ce8",
        "name": "",
        "topic": "iot/caps/+",
        "qos": "2",
        "datatype": "json",
        "broker": "20e28edf.311c92",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "425395ff.87ef14"
            ]
        ]
    },
    {
        "id": "8d3b7435.933f6",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "425395ff.87ef14",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "",
        "func": "\nif(msg.payload && msg.payload.caps && typeof msg.payload.caps == \"string\"){\n    msg.payload.caps = JSON.parse(msg.payload.caps);\n}\n\nif(msg.payload.deviceid) {\n    var devices = flow.get(\"iot-devices\");\n    if(devices) {\n        for(var d in devices){\n            var device = devices[d];\n            if(device.deviceid===msg.payload.deviceid) {\n                var found = false;\n                for(var c in device.capabilities) {\n                    var cap = device.capabilities[c];\n                    if(cap.cap === msg.payload.caps.cap) {\n                        found = true;\n                        break;\n                    }\n                }\n                if(!found) device.capabilities.push(msg.payload.caps);\n            }\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 320,
        "wires": [
            [
                "8d3b7435.933f6"
            ]
        ]
    },
    {
        "id": "ad1cdf3d.92cf4",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "",
        "func": "msg.payload = flow.get(\"iot-devices\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "fd2370c8.8aeff"
            ]
        ]
    },
    {
        "id": "89aef93a.f74a28",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "List all devices",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "ad1cdf3d.92cf4"
            ]
        ]
    },
    {
        "id": "fd2370c8.8aeff",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "20e28edf.311c92",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]