node-red/flows.json
[
    {
        "id": "a382654b.5f9ce8",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d5b35fd8.e354b",
        "type": "tab",
        "label": "Relay Node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1aa068dd.618597",
        "type": "tab",
        "label": "Node Commands",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9ecd6665.a47c58",
        "type": "tab",
        "label": "Motion Sensing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cf8ec69b.06f468",
        "type": "mqtt-broker",
        "z": "",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "20e28edf.311c92",
        "type": "mqtt-broker",
        "z": "",
        "name": "MQTT Broker",
        "broker": "YOUR MQTT HOST",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f5f65e68.cac2a8",
        "type": "udp in",
        "z": "a382654b.5f9ce8",
        "name": "",
        "iface": "",
        "port": "3000",
        "ipv": "udp4",
        "multicast": "true",
        "group": "255.255.255.255",
        "datatype": "utf8",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "6690511f.b23fc8"
            ]
        ]
    },
    {
        "id": "d98cd3df.3ca52",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "64ea1918.5d7b4",
        "type": "udp out",
        "z": "a382654b.5f9ce8",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "6690511f.b23fc8",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "",
        "func": "\nif(msg.payload && typeof msg.payload == \"string\") {\n    msg.payload = JSON.parse(msg.payload);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 60,
        "wires": [
            [
                "d98cd3df.3ca52",
                "23b0e70c.b3c09"
            ]
        ]
    },
    {
        "id": "23b0e70c.b3c09",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "Form response packet",
        "func": "\n\nmsg.payload.mqtt = {\n    server : \"YOUR MQTT HOST\",\n    port : \"1883\",\n    username : \"\",\n    password : \"\",\n    sensor : \"iot/raw/sensors/\" + msg.payload.deviceid,\n    relay : \"iot/relays/\" + msg.payload.deviceid,\n    caps : \"iot/caps/\" + msg.payload.deviceid,\n    ping : \"iot/ping/\" + msg.payload.deviceid,\n    motion : \"iot/raw/motion/\" + msg.payload.deviceid\n}\n\ndevices = flow.get(\"iot-devices\");\n\nif(devices && msg.payload.deviceid) {\n   for(var d in devices) {\n       var device = devices[d];\n       if(device.deviceid === msg.payload.deviceid) {\n            msg.payload.device = device;\n        }\n   }\n}\n\nmsg.port = 3001;\nmsg.payload = JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 120,
        "wires": [
            [
                "64ea1918.5d7b4",
                "4ef686d6.0d8fd"
            ]
        ]
    },
    {
        "id": "4ef686d6.0d8fd",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "8e606e42.bcdff8",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "Reset all devices",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "c22eb1fb.b73c"
            ]
        ]
    },
    {
        "id": "c22eb1fb.b73c",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "",
        "func": "\nvar devices = [\n        {\n            deviceid : \"B1C69A\", \n            name : \"SunRoom\",\n            capabilities : []\n        },\n        {\n            deviceid : \"B1C535\", \n            name : \"Deck\",\n            capabilities : []\n        },\n         {\n            deviceid : \"D65D09\", \n            name : \"LivingRoom\",\n            capabilities : []\n        },\n         {\n            deviceid : \"3B1650\", \n            name : \"ServerCabinet\",\n            capabilities : []\n        },\n         {\n            deviceid : \"828732\", \n            name : \"Lab\",\n            capabilities : []\n        },\n         {\n            deviceid : \"34AD0C\", \n            name : \"Truck\",\n            capabilities : []\n        },\n         {\n            deviceid : \"82855C\", \n            name : \"Dev\",\n            capabilities : []\n        },\n         {\n            deviceid : \"35CC58\", \n            name : \"MasterBedroom\",\n            capabilities : []\n        }\n        \n    ];\n    \n\nflow.set(\"iot-devices\", devices);\n\nmsg.payload = devices;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "648f85a5.eb6684"
            ]
        ]
    },
    {
        "id": "648f85a5.eb6684",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "a5b7a58.a311a58",
        "type": "mqtt out",
        "z": "a382654b.5f9ce8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "20e28edf.311c92",
        "x": 490,
        "y": 320,
        "wires": []
    },
    {
        "id": "a9e2576f.8b98c8",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "4c6580f9.85d21",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "",
        "func": "var deviceid = msg.topic.split(\"/\")[3];\n\nmsg.topic = \"iot/sensors/\" + deviceid;\n\ndevices = flow.get(\"iot-devices\");\n\nif(devices && msg.payload.deviceid) {\n   for(var d in devices) {\n       var device = devices[d];\n       if(device.deviceid === msg.payload.deviceid) {\n           msg.payload.name = device.name;\n       }\n   }\n}\n\nif(msg && msg.payload) {\n    if(msg.payload.temp) {\n        msg.payload.humidity = msg.payload.hum;\n        delete msg.payload.hum;\n        msg.payload.pressure = msg.payload.press;\n        delete msg.payload.press;\n        msg.payload.altitude = msg.payload.alt;\n        delete msg.payload.alt;\n    }\n}\n\nif(msg.payload.ts) {\n    msg.payload.timeStamp = new Date(0);\n    msg.payload.timeStamp.setUTCSeconds(msg.payload.ts);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "a9e2576f.8b98c8",
                "a5b7a58.a311a58"
            ]
        ]
    },
    {
        "id": "53077926.e862d",
        "type": "mqtt in",
        "z": "a382654b.5f9ce8",
        "name": "",
        "topic": "iot/caps/+",
        "qos": "2",
        "datatype": "json",
        "broker": "20e28edf.311c92",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "425395ff.87ef14"
            ]
        ]
    },
    {
        "id": "8d3b7435.933f6",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "425395ff.87ef14",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "",
        "func": "\nif(msg.payload && msg.payload.caps && typeof msg.payload.caps == \"string\"){\n    msg.payload.caps = JSON.parse(msg.payload.caps);\n}\n\nif(msg.payload.deviceid) {\n    var devices = flow.get(\"iot-devices\");\n    if(devices) {\n        for(var d in devices){\n            var device = devices[d];\n            if(device.deviceid===msg.payload.deviceid) {\n                var found = false;\n                for(var c in device.capabilities) {\n                    var cap = device.capabilities[c];\n                    if(cap.cap === msg.payload.caps.cap) {\n                        found = true;\n                        break;\n                    }\n                }\n                if(!found) device.capabilities.push(msg.payload.caps);\n            }\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 320,
        "wires": [
            [
                "8d3b7435.933f6"
            ]
        ]
    },
    {
        "id": "ad1cdf3d.92cf4",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "",
        "func": "msg.payload = flow.get(\"iot-devices\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "fd2370c8.8aeff"
            ]
        ]
    },
    {
        "id": "89aef93a.f74a28",
        "type": "inject",
        "z": "a382654b.5f9ce8",
        "name": "List all devices",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 240,
        "wires": [
            [
                "ad1cdf3d.92cf4"
            ]
        ]
    },
    {
        "id": "fd2370c8.8aeff",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "d866458c.c4ff08",
        "type": "mqtt in",
        "z": "a382654b.5f9ce8",
        "name": "",
        "topic": "iot/raw/sensors/+",
        "qos": "2",
        "datatype": "json",
        "broker": "20e28edf.311c92",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "4c6580f9.85d21"
            ]
        ]
    },
    {
        "id": "2ccbbcfa.9ad894",
        "type": "catch",
        "z": "a382654b.5f9ce8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 740,
        "y": 460,
        "wires": [
            [
                "d33e45c4.6f594"
            ]
        ]
    },
    {
        "id": "d33e45c4.6f594",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 910,
        "y": 460,
        "wires": []
    },
    {
        "id": "29344a46.096eae",
        "type": "mqtt out",
        "z": "d5b35fd8.e354b",
        "name": "",
        "topic": "iot/relay/34AD0C",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "b992247b.14fc78",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "0 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 60,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "e4b5a687.8b1408",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "0 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":0}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "6a9233ca.d47754",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "1 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "c0fb4e26.f4c16",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "1 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":1}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "744a3deb.7a9f14",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "2 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 260,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "c77c24ce.3e051",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "2 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":2}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "ecab749b.ce85e8",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "3 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":3}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 360,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "f67ab53.e0065c8",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "3 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":3}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "ec537ba3.bd16d",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "4 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":4}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 460,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "8504d0bd.9177d",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "4 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":4}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 500,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "ca1ec986.fff4d",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "5 - On",
        "topic": "",
        "payload": "{\"command\":\"on\",\"pin\":5}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 560,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "eee9a7e6.452778",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "5 - Off",
        "topic": "",
        "payload": "{\"command\":\"off\",\"pin\":5}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 600,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "dfdab651.d76a2",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "All On",
        "topic": "",
        "payload": "{\"command\":\"allon\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "fa78ca97.8e09f8",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "All Off",
        "topic": "",
        "payload": "{\"command\":\"alloff\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "f3610e8e.a7987",
        "type": "inject",
        "z": "d5b35fd8.e354b",
        "name": "Fun",
        "topic": "",
        "payload": "{\"command\":\"fun\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 470,
        "y": 140,
        "wires": [
            [
                "29344a46.096eae"
            ]
        ]
    },
    {
        "id": "6170cd0a.8e672c",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"reset\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "91cacc72.6eb918",
                "1c5e14e7.af0943",
                "7af6a54d.482ee4",
                "9c091774.eb866",
                "c02ba8e8.88f508",
                "d4eac883.0e87b"
            ]
        ]
    },
    {
        "id": "932e69a3.489db8",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"restart\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 200,
        "wires": [
            [
                "9c091774.eb866",
                "1c5e14e7.af0943",
                "7af6a54d.482ee4",
                "91cacc72.6eb918",
                "c02ba8e8.88f508",
                "d4eac883.0e87b"
            ]
        ]
    },
    {
        "id": "bb36cb70.2271b8",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"wipe\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "7af6a54d.482ee4",
                "1c5e14e7.af0943",
                "9c091774.eb866",
                "91cacc72.6eb918",
                "c02ba8e8.88f508",
                "d4eac883.0e87b"
            ]
        ]
    },
    {
        "id": "782b06f6.f1dec",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "Update Wifi Config",
        "topic": "",
        "payload": "{\"command\" : \"reconfigure\", \"wifi\" : {\"ssid\" : \"IoT\", \"password\" : \"XXXXXXXX\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "1c5e14e7.af0943",
                "7af6a54d.482ee4",
                "9c091774.eb866",
                "91cacc72.6eb918",
                "c02ba8e8.88f508",
                "d4eac883.0e87b"
            ]
        ]
    },
    {
        "id": "d231fca0.25c428",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"ping\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "feb2c83b.2800e8"
            ]
        ]
    },
    {
        "id": "75b04c23.aa749c",
        "type": "mqtt in",
        "z": "1aa068dd.618597",
        "name": "Ping response",
        "topic": "iot/ping/82855C",
        "qos": "2",
        "datatype": "json",
        "broker": "20e28edf.311c92",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "6d37d609.ba2b18"
            ]
        ]
    },
    {
        "id": "d4f8fb57.f65d38",
        "type": "debug",
        "z": "1aa068dd.618597",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 560,
        "wires": []
    },
    {
        "id": "feb2c83b.2800e8",
        "type": "function",
        "z": "1aa068dd.618597",
        "name": "",
        "func": "\nmsg.payload.ts =  ((new Date()).getTime() / 1000) + \"\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 390,
        "y": 500,
        "wires": [
            [
                "567f13d6.f71fe4",
                "1c5e14e7.af0943",
                "7af6a54d.482ee4",
                "9c091774.eb866",
                "91cacc72.6eb918",
                "c02ba8e8.88f508",
                "d4eac883.0e87b"
            ]
        ]
    },
    {
        "id": "567f13d6.f71fe4",
        "type": "debug",
        "z": "1aa068dd.618597",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "6d37d609.ba2b18",
        "type": "function",
        "z": "1aa068dd.618597",
        "name": "",
        "func": "\nif(msg.payload.senderTS === 0) return;\n\nmsg.payload.pongTS =  (new Date().getTime()) / 1000;\nmsg.payload.pongDiff = msg.payload.pongTS - msg.payload.ts;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 560,
        "wires": [
            [
                "d4f8fb57.f65d38"
            ]
        ]
    },
    {
        "id": "c02ba8e8.88f508",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Living Room",
        "topic": "iot/relays/D65D09",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 690,
        "y": 80,
        "wires": []
    },
    {
        "id": "91cacc72.6eb918",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Lab",
        "topic": "iot/relays/828732",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "9c091774.eb866",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Sun Room",
        "topic": "iot/relays/B1C69A",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "7af6a54d.482ee4",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Deck",
        "topic": "iot/relays/B1C535",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "d4eac883.0e87b",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Dev Device (82855C)",
        "topic": "iot/relays/82855C",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 720,
        "y": 380,
        "wires": []
    },
    {
        "id": "1c5e14e7.af0943",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Server Cabinet",
        "topic": "iot/relays/3B1650",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 700,
        "y": 320,
        "wires": []
    },
    {
        "id": "8e6abcb3.0c4ac",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update RELAY Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/RELAY_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "1c5e14e7.af0943",
                "7af6a54d.482ee4",
                "9c091774.eb866",
                "91cacc72.6eb918",
                "c02ba8e8.88f508",
                "d4eac883.0e87b"
            ]
        ]
    },
    {
        "id": "478ea7be.2df67",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update BMP Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/BMP280_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 360,
        "wires": [
            [
                "1c5e14e7.af0943",
                "7af6a54d.482ee4",
                "9c091774.eb866",
                "91cacc72.6eb918",
                "c02ba8e8.88f508",
                "d4eac883.0e87b"
            ]
        ]
    },
    {
        "id": "a7c225bf.619778",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"reset\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 660,
        "wires": [
            [
                "8a8c16f2.85bd48"
            ]
        ]
    },
    {
        "id": "1ae80895.4f6dff",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"restart\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "8a8c16f2.85bd48"
            ]
        ]
    },
    {
        "id": "531a21d1.cc6c98",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"wipe\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "8a8c16f2.85bd48"
            ]
        ]
    },
    {
        "id": "c5c7ece6.d4e6e8",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "Update Wifi Config",
        "topic": "",
        "payload": "{\"command\" : \"reconfigure\", \"wifi\" : {\"ssid\" : \"IoT\", \"password\" : \"XXXXXXXX\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 780,
        "wires": [
            [
                "8a8c16f2.85bd48"
            ]
        ]
    },
    {
        "id": "979b173e.e6a61",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update RELAY Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/RELAY_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 820,
        "wires": [
            [
                "8a8c16f2.85bd48"
            ]
        ]
    },
    {
        "id": "43139c61.3c2b7c",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update BMP Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/BMP280_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 860,
        "wires": [
            [
                "8a8c16f2.85bd48"
            ]
        ]
    },
    {
        "id": "8a8c16f2.85bd48",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Living Room",
        "topic": "iot/relays/D65D09",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 490,
        "y": 740,
        "wires": []
    },
    {
        "id": "e68783ed.e1a49",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"reset\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 640,
        "wires": [
            [
                "bf373f26.6015e8"
            ]
        ]
    },
    {
        "id": "60da889.694fef8",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"restart\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 680,
        "wires": [
            [
                "bf373f26.6015e8"
            ]
        ]
    },
    {
        "id": "242c74c8.babae4",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"wipe\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 720,
        "wires": [
            [
                "bf373f26.6015e8"
            ]
        ]
    },
    {
        "id": "62c77568.0c80a4",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "Update Wifi Config",
        "topic": "",
        "payload": "{\"command\" : \"reconfigure\", \"wifi\" : {\"ssid\" : \"IoT\", \"password\" : \"XXXXXXXX\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 710,
        "y": 760,
        "wires": [
            [
                "bf373f26.6015e8"
            ]
        ]
    },
    {
        "id": "a30b251e.aa9fe",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update RELAY Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/RELAY_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 730,
        "y": 800,
        "wires": [
            [
                "bf373f26.6015e8"
            ]
        ]
    },
    {
        "id": "d1ca2a92.187728",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update BMP Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/BMP280_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 840,
        "wires": [
            [
                "bf373f26.6015e8"
            ]
        ]
    },
    {
        "id": "bf373f26.6015e8",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Lab",
        "topic": "iot/relays/828732",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 1030,
        "y": 720,
        "wires": []
    },
    {
        "id": "894d8b79.ab52f8",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"reset\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 940,
        "wires": [
            [
                "f2079078.abfbf"
            ]
        ]
    },
    {
        "id": "f646e1c2.42f11",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"restart\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 980,
        "wires": [
            [
                "f2079078.abfbf"
            ]
        ]
    },
    {
        "id": "ae6d6d07.e64dc",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"wipe\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1020,
        "wires": [
            [
                "f2079078.abfbf"
            ]
        ]
    },
    {
        "id": "97cd1f0f.ad6c1",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "Update Wifi Config",
        "topic": "",
        "payload": "{\"command\" : \"reconfigure\", \"wifi\" : {\"ssid\" : \"IoT\", \"password\" : \"XXXXXXXX\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "f2079078.abfbf"
            ]
        ]
    },
    {
        "id": "663d97fe.d63988",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update RELAY Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/RELAY_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 1100,
        "wires": [
            [
                "f2079078.abfbf"
            ]
        ]
    },
    {
        "id": "568e6d58.513e74",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update BMP Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/BMP280_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1140,
        "wires": [
            [
                "f2079078.abfbf"
            ]
        ]
    },
    {
        "id": "f2079078.abfbf",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Sun Room",
        "topic": "iot/relays/B1C69A",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 470,
        "y": 1000,
        "wires": []
    },
    {
        "id": "311bbcdc.69dba4",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"reset\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 940,
        "wires": [
            [
                "bd57bad8.c5324"
            ]
        ]
    },
    {
        "id": "62fc8d8a.1013a4",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"restart\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 980,
        "wires": [
            [
                "bd57bad8.c5324"
            ]
        ]
    },
    {
        "id": "9d15b56e.bb4a78",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"wipe\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 1020,
        "wires": [
            [
                "bd57bad8.c5324"
            ]
        ]
    },
    {
        "id": "77ae6049.f5019",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "Update Wifi Config",
        "topic": "",
        "payload": "{\"command\" : \"reconfigure\", \"wifi\" : {\"ssid\" : \"IoT\", \"password\" : \"XXXXXXXX\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 710,
        "y": 1060,
        "wires": [
            [
                "bd57bad8.c5324"
            ]
        ]
    },
    {
        "id": "108425f9.569072",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update RELAY Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/RELAY_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 730,
        "y": 1100,
        "wires": [
            [
                "bd57bad8.c5324"
            ]
        ]
    },
    {
        "id": "d1f287fb.6aa0a8",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update BMP Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/BMP280_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 1140,
        "wires": [
            [
                "bd57bad8.c5324"
            ]
        ]
    },
    {
        "id": "bd57bad8.c5324",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Deck",
        "topic": "iot/relays/B1C535",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 1030,
        "y": 1040,
        "wires": []
    },
    {
        "id": "9bb66a74.31768",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"reset\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1240,
        "wires": [
            [
                "8ba94d45.c102c8"
            ]
        ]
    },
    {
        "id": "f14b33c7.ac3a78",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"restart\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1280,
        "wires": [
            [
                "8ba94d45.c102c8"
            ]
        ]
    },
    {
        "id": "14a978f3.c9ed87",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"wipe\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1320,
        "wires": [
            [
                "8ba94d45.c102c8"
            ]
        ]
    },
    {
        "id": "e50964f3.be801",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "Update Wifi Config",
        "topic": "",
        "payload": "{\"command\" : \"reconfigure\", \"wifi\" : {\"ssid\" : \"IoT\", \"password\" : \"XXXXXXXX\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 1360,
        "wires": [
            [
                "8ba94d45.c102c8"
            ]
        ]
    },
    {
        "id": "48cb5df0.49c90c",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update RELAY Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/RELAY_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 1400,
        "wires": [
            [
                "8ba94d45.c102c8"
            ]
        ]
    },
    {
        "id": "decedf12.b6eea",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update BMP Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/BMP280_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 1440,
        "wires": [
            [
                "8ba94d45.c102c8"
            ]
        ]
    },
    {
        "id": "8ba94d45.c102c8",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Server Cabinet",
        "topic": "iot/relays/3B1650",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 480,
        "y": 1320,
        "wires": []
    },
    {
        "id": "edc38764.e30b3",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"reset\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 1240,
        "wires": [
            [
                "288ac84b.a7dc98"
            ]
        ]
    },
    {
        "id": "a02c8b1b.692ba8",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"restart\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 1280,
        "wires": [
            [
                "288ac84b.a7dc98"
            ]
        ]
    },
    {
        "id": "3f5b0edb.f20b82",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "",
        "topic": "",
        "payload": "{\"command\" : \"wipe\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 1320,
        "wires": [
            [
                "288ac84b.a7dc98"
            ]
        ]
    },
    {
        "id": "1b308505.2a34ab",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "Update Wifi Config",
        "topic": "",
        "payload": "{\"command\" : \"reconfigure\", \"wifi\" : {\"ssid\" : \"IoT\", \"password\" : \"XXXXXXXX\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 710,
        "y": 1360,
        "wires": [
            [
                "288ac84b.a7dc98"
            ]
        ]
    },
    {
        "id": "3fc5fb82.6e9b3c",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update RELAY Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/RELAY_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 730,
        "y": 1400,
        "wires": [
            [
                "288ac84b.a7dc98"
            ]
        ]
    },
    {
        "id": "a6192bbf.dcb388",
        "type": "inject",
        "z": "1aa068dd.618597",
        "name": "OTA Update PIR Build",
        "topic": "",
        "payload": "{\"command\":\"upgrade\",\"host\":\"10.0.0.4\",\"port\":8888,\"path\":\"/AthosIoT/PIR_firmware.bin\"}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 720,
        "y": 1440,
        "wires": [
            [
                "288ac84b.a7dc98"
            ]
        ]
    },
    {
        "id": "288ac84b.a7dc98",
        "type": "mqtt out",
        "z": "1aa068dd.618597",
        "name": "Dev Device (82855C)",
        "topic": "iot/relays/82855C",
        "qos": "2",
        "retain": "false",
        "broker": "20e28edf.311c92",
        "x": 1060,
        "y": 1340,
        "wires": []
    },
    {
        "id": "f8062f92.e1218",
        "type": "mqtt in",
        "z": "9ecd6665.a47c58",
        "name": "",
        "topic": "iot/motion/+",
        "qos": "2",
        "datatype": "json",
        "broker": "20e28edf.311c92",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "8d8c128d.4cc73"
            ]
        ]
    },
    {
        "id": "47cb0596.ba2e3c",
        "type": "debug",
        "z": "9ecd6665.a47c58",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "8d8c128d.4cc73",
        "type": "function",
        "z": "9ecd6665.a47c58",
        "name": "",
        "func": "\n\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "47cb0596.ba2e3c"
            ],
            []
        ],
        "inputLabels": [
            "MQTT"
        ],
        "outputLabels": [
            "Dev",
            "Living Room"
        ]
    },
    {
        "id": "1cc9e81b.7c526",
        "type": "mqtt in",
        "z": "a382654b.5f9ce8",
        "name": "",
        "topic": "iot/raw/motion/+",
        "qos": "2",
        "datatype": "json",
        "broker": "20e28edf.311c92",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "f60257cc.f66cd8"
            ]
        ]
    },
    {
        "id": "f60257cc.f66cd8",
        "type": "function",
        "z": "a382654b.5f9ce8",
        "name": "",
        "func": "\nvar deviceid = msg.topic.split(\"/\")[3];\n\nmsg.topic = \"iot/motion/\" + deviceid;\n\ndevices = flow.get(\"iot-devices\");\n\nif(devices && msg.payload.deviceid) {\n   for(var d in devices) {\n       var device = devices[d];\n       if(device.deviceid === msg.payload.deviceid) {\n           msg.payload.name = device.name;\n       }\n   }\n}\n\nif(msg.payload.ts) {\n    msg.payload.timeStamp = new Date(0);\n    msg.payload.timeStamp.setUTCSeconds(msg.payload.ts);\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 460,
        "wires": [
            [
                "efd93390.97c348",
                "f704790b.727c9"
            ]
        ]
    },
    {
        "id": "efd93390.97c348",
        "type": "debug",
        "z": "a382654b.5f9ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 490,
        "y": 540,
        "wires": []
    },
    {
        "id": "f704790b.727c9",
        "type": "mqtt out",
        "z": "a382654b.5f9ce8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "20e28edf.311c92",
        "x": 490,
        "y": 460,
        "wires": []
    }
]